modal-container .modal-dialog-progress > .modal-content {
    border: none;
}

.spinner {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 4px solid rgba(0, 64, 158, 0.2); /* light border */
    border-top: 4px solid #00409E;           /* blue progress color */
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-right: 10px;
  }
  
  @keyframes spin {
    to { transform: rotate(360deg); }
  }